@import 'reset.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #5471BB;
  font-size: 7.2rem;
  font-family: Poppins;
  font-weight: bold;
  line-height: 1.167;
}

h2 {
  color: #5471BB;
  font-size: 4.8rem;
  font-family: Poppins;
  font-weight: bold;
}

h3 {
  color: #5471BB;
  font-size: 2.4rem;
  font-family: Poppins;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin-top: 5.6rem;
  position: fixed;
  z-index: 2;
}

.nav-link {
  font-size: 1.8rem;
  color: #5471BB;
  text-decoration: none;
  font-family: Poppins;
  font-weight: lighter;
  margin-right: 5.2vw;
}

.tab-link {
  display: none;
}

.nav-link:hover, .nav-link-active {
  font-weight: 600;
}

.input {
  border: none;
  border-bottom: .2rem solid #5471BB;
  outline: none;
  color: #AAB7DC;
  font-family: Poppins;
  font-weight: lighter;
  font-size: 1.8rem;
  width: 19.2rem;
  height: 2rem;
  background-color: transparent;
}

.input::placeholder {
  color: #AAB7DC;
  font-family: Poppins;
  font-weight: lighter;
  font-size: 1.8rem;
}

.home-header {
  min-width: 100vw;
  min-height: 120rem;
  background-image: url(../assets/svg/church.svg);
  background-repeat: no-repeat;
  background-position: right top;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100rem;
  height: 115rem;
  background-image: url(../assets/svg/main_cloud.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.home-header-container {
  position: relative;
  z-index: 1;

  width: 85vw;
}

.home-header-title {
  margin-top: 16.6rem;
}

.home-header-date {
  color: #5471BB;
  font-size: 3.6rem;
  font-family: Avenir;
  font-weight: bold;
  margin-top: 3.2rem;
}

.home-intro {
  color: #5471BB;
  font-size: 1.8rem;
  font-family: Helvetica;
  line-height: 1.618;
  width: 48rem;
  margin-top: 9.6rem;
}

.home-header-intro {
  margin-top: 9.6rem;
}

.home-tripel-intro {
  margin-top: 4.8rem;
}

.home-header-cta {
  margin-top: 4.8rem;
}

.home-tripel-cta {
  margin-top: 8.8rem;
}

.cta-primary {
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
  width: 20.8rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: #5471BB;
  color: white;
  font-family: Poppins;
  text-align: center;
  padding-top: 1.4rem;
}

.cta-primary::after {
  content: '';
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: transparant;
  display: block;
  margin-top: -2.8rem;
  transition: width .5s ease, background-color .5s ease;
  opacity: .4;
}

.cta-primary:hover::after {
  width: 20.8rem;
  background-color: #224CB2;
  transition: width .5s ease, background-color .5s ease;
}

.cta-secondary {
  font-family: Poppins;
  color: #5471BB;
  font-weight: lighter;
  font-size: 1.8rem;
  text-decoration: none;
  transition: color .3s ease-out;
}

.cta-secondary:hover {
  color: #AAB7DC;
  transition: color .3s ease-out;
}

.tripel {
  width: 85vw;
  margin-top: -10rem;

  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.tripel-img {
  margin-top: -10rem;
}

.news {
  margin-top: 12rem;
  width: 85vw;
}

.news::after {
  content: "";
  display: block;
  width: 100vw;
  height: 100rem;
  margin-top: -50rem;
  position: absolute;
  right: 0;
  z-index: -3;
  transform: scaleX(-1);

  background-image: url(../assets/svg/main_cloud.svg);
  background-repeat: no-repeat;
  background-position: left bottom;

}

.news-cards {
  margin-top: 7.2rem;

  display: flex;
  flex-direction: column;
}

.news-card {
  width: 72rem;
  height: 24rem;
  background-color: white;
  position: relative;
  margin-bottom: 2.4rem;

  display: flex;
  align-items: center;
}

.news-card::after {
  content: "";
  display: inline-block;
  width: 68.2rem;
  height: 12rem;
  position: absolute;

  box-shadow: 0px 4px 50px 0px rgba(34,76,178,.5);
  bottom: 0;
  left: 2.6%;
  z-index: -2;
}

.news-card:nth-child(2) {
  align-self: flex-end;
}

.news-img {
  width: 24rem;
  height: 24rem;
  object-fit: cover;

  position: relative;
  z-index: -1;
  display: block;
}

.news-date {
  font-family: Avenir;
  font-size: 1.8rem;
  color: #5471BB;
  font-weight: bold;
}

.news-intro {
  margin-top: 4.8rem;
  width: 40rem;
}

.news-cta {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: .8rem 1.6rem;
}

.gradient {
  width: 24rem;
  height: 24rem;
  display: inline-block;
  margin-right: 2.4rem;
}

.gradient::after {
  content: "";
  background: url(../assets/img/bg.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  opacity: .3;
  width: 24rem;
  height: 24rem;
  display: block;
}

.news-gradient-1 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(237, 167, 198, 1) 100%), url(../assets/img/news_1.jpeg);
  background-blend-mode: color-burn;
}

.news-gradient-2 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(237, 167, 198, 1) 100%), url(../assets/img/news_2.jpeg);
  background-blend-mode: color-burn;
}

.news-gradient-3 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(237, 167, 198, 1) 100%), url(../assets/img/news_3.jpeg);
  background-blend-mode: color-burn;
  background-size: cover;
}

.recommended {
  margin-top: 14.4rem;
  width: 85vw;
}

.recommended-title {
  margin-bottom: 6.4rem;
}

.event-cards {
  display: flex;
  justify-content: space-between;
  width: 85vw;

  flex-wrap: wrap;
}

.event-card {
  width: 27.5vw;
  /* width: 40rem; */
  height: 64.8rem;
  position: relative;
  margin-bottom: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card::after {
  content: "";
  display: inline-block;
  /* width: 38.2rem; */
  width: calc(27.5vw - 1.6rem);
  height: 32.4rem;
  position: absolute;

  box-shadow: 0px 4px 50px 0px rgba(34,76,178,.5);
  bottom: 0;
  left: 2.3%;
  z-index: -3;
}

.event-card-img {
  width: inherit;
  height: inherit;
  border: .8rem solid white;
  object-fit: cover;
  display: block;
  z-index: -2;
  position: relative;
  /* width: 40rem; */
  width: 27.5vw;
  height: 64.8rem;
  display: inline-block;

  background-blend-mode: color-burn;
}

.event-card-img::after {
  content: "";
  background: url(../assets/img/bg.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  opacity: .3;
  /* width: 38.4rem; */
  width: calc(27.5vw - 1.6rem);
  height: 63.2rem;
  display: block;
}

.event-card-title {
  font-family: Poppins;
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
  margin-top: -5.6rem;
  width: 10.9rem;
  text-align: center;
}

.filter-container {
  height: 70vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../assets/svg/small_cloud.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 15.7rem;
  width: 27.2rem;
}

.filter .input {
  width: inherit;
}

@media only screen and (max-width: 850px) {
  h2 {
    font-size: 3.6rem;
  }

  .home-tripel-intro {
    width: 45vw;
  }

  .news-cards {
    align-items: center;
  }

  .news-card:nth-child(2) {
    align-self: center;
  }

  .event-cards {
    justify-content: space-around;
  }

  .event-card, .event-card-img {
    width: 41vw;
  }

  .event-card-img::after, .event-card::after {
    width: calc(41vw - 1.6rem);
  }

  .nav-link {
    margin-right: 3vw;
  }
}

@media only screen and (max-width: 750px) {
  .news-card {
    flex-direction: column;
    align-items: flex-start;
    width: 85vw;
    height: auto;
  }

  .news-card::after {
    width: 80vw;
    height: 30rem;
  }

  .gradient {
    width: 85vw;
    height: 52.5vw;
    background-size: cover;
  }

  .gradient::after {
    width: 85vw;
    height: 52.5vw;
  }

  .news-copy {
    margin: 5rem;
  }

  .news-intro {
    width: 60vw;
  }

  .nav {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .nav-link, .nav-right {
    display: none;
  }

  .nav-left {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .tab-link {
    visibility: visible;
    width: 19.9vw;
    height: 5rem;
    background-color: #5471BB;
    transition: background-color .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab-link:hover, .tab-link-active {
    background-color: #224CB2;
    transition: background-color .3s ease-out;
  }
}

@media only screen and (max-width: 600px) {
  .home-header-title {
    font-size: 4.8rem;
    margin-top: 25rem;
  }

  .home-header-date {
    font-size: 2.4rem;
  }

  .home-header {
    background-image: none;
  }

  .home-intro {
    width: 85vw;
  }

  .news-intro {
    width: 60vw;
  }

  .tripel-copy {
    margin-top: -10rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  .tripel-img {
    display: none;
  }

  .event-card, .event-card-img {
    width: 85vw;
  }

  .event-card-img::after, .event-card::after {
    width: calc(85vw - 1.6rem);
  }
}

@media only screen and (max-width: 400px) {
  .home-header-title {
    font-size: 3.6rem;
  }
}
